@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
}

.navegador-pagina{
    background-color: black;
    width: 100%;
    position: static;
    top: 0px;
    display: flex;
    justify-content: end;
    padding: 15px;
    top: 0px;
}

.nav-item{
    display: flex;
    gap: 20px;
}

.nav-link{
    display: block;
    padding: 10px 5px;
    color: white;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}

.Titulo-Pagina{
    font-family:"Lexend Tera";
    font-style: normal;
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
}
.contenedor-portada{
    height: 500px;
    background-color: black;
}
.img-portada{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.encabezado{
    background-color: dimgrey;
    text-align: center;
    font-family: "Lexend Tera";
    gap: 20px;
    padding: 20px;
}

.encabezado-titulo{
    color: yellow;
    font-size: 50px;
}

.encabezado-texto{
    font-size: 25px;
}

.main-index{
    height: 630px;
    background-color: grey;
    display: flex;
    flex-direction: column;
    position: relative;
}

.cuerpo-pagina{
    width: 450px;
    height: 170px;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 20px 20px 20px 60px;
    border: 3px solid;
    border-color: rgb(36, 67, 29);
}

.carosuel-img{
    width: 60%;
    padding: 10px;
    position: absolute;
    right: 20px;
    margin: 30px;
    object-fit: cover;
}

.Titulo-Main{
    font-family: "Arial";
    font-size: 22px;
    text-align: center;
}
.parrafo-inicio{
    font-family:"Arial";
    text-align: center;
    font-size: 18px;
    margin: 10px;
    
}

.contacto-header{
    padding: 10px;
}

.imagen-contacto{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.main-contacto{
    background-color: black;
    color: rgb(21, 83, 197);
}

.main-contacto-grupo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
}

.main-contacto-titulo{
    font-size: 50px;
    text-align: center;
    text-decoration: none;
}

.contenedor-contacto{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 380px;
    background-color:black;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    border: 3px solid  rgb(21, 83, 197);
    gap: 20px;
}

.contenedor-img{
    width: 90%;
    height: 180px;
    margin: 10px;
}

.contenedor-info{
    font-size: 25px;
    font-family:'Arial Narrow Bold';
    font-weight: bold;
    text-align: center;
}

.contenedor-info1{
    font-size: 18px;
    font-family:'Arial Narrow Bold';
    font-weight: bold;
    text-align: center;
}

.detalles-formulario{
    font-size: 25px;
    font-family:"Tahoma";
    padding: 10px;
    color: green;
}

.form{
    background-color: black;
    color: black;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
    border: 3px solid green;
}

.form-grupo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px 10px;
}

.form-label{
    font-family:"Tahoma";
    font-size: 15px;
    font-weight: bold;
    color: green;
}

.form-input{
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
}

.form-input-textarea{
    height: 150px;
    border-radius: 5px 10px;
    padding: 5px;
}

.form-boton{
    width: 100%;
    height: 30px;
    background-color: green;
    border: 2px solid;
    border-radius: 5px;
    font-weight: bold;
    font-family:"Tahoma";
    font-size: 13px;
}

.titulo-contacto{
    text-align: center;
    font-family:"Lexend Tera";
    font-size: xx-large;
    
}
.tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    padding: 10px;
    background-color: rgb(129, 125, 125);
    margin: 0px;
}

.tarjeta1{
    width: 300px;
    height: 630px;
    background-color: rgb(128, 236, 128);
    color: rgb(0, 0, 0);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.tarjeta2{
    width: 300px;
    height: 630px;
    background-color: rgb(40, 135, 40);
    color:rgb(194, 190, 190);
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.tarjeta3{
    width: 300px;
    height: 630px;
    background-color:rgb(1, 82, 5);
    color:white;
    margin: 10px;
    padding: 20px;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.lista{
    padding: 20px;
    text-align: left;
    font-family: "Arial"
}

.img-plan{
    width: 100%;
    height: 150px;
    border-radius: 10px;
    align-items: center;
    object-fit: cover;
}

.boton-planes{
    position: absolute;
    width: 50%;
    height: 30px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    border: 3px solid;
    padding: 0px;
    border-radius: 5px;
    bottom: 10px;
    right: 75px;
}

.boton-planes:hover{
    background-color:rgb(229, 229, 51);
}

.titulo-plan{
    font-family: "Lexend Tera";
    text-align: center;
    font-weight: bold;
}

.parrafo-plan{
    font-family: "Lexend Tera";
    text-align: center;
}

.main2{
    background-color: rgb(129, 125, 125);
    margin: 0px;
}
    
.descripcion-planes{
    color: yellow;
    text-decoration: solid;
    text-align: center;
    font-size: 40px;
    margin: 0px 0px 20px 0px;
    font-size: 50px;
}

.descripcion-planes1{
    margin: 0px 0px;
    text-align: center;
    font-size: 30px;
    color: black
}

.titulo-planes{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family:"Lexend Tera";
    margin: 10px 0px 10px 0px;
}

.Logo-footer{
    width: 50px;
    height: 50px;
}
.footer{
    background-color: black;
    text-align: center;
}

.Texto-footer{
    color: blanchedalmond;
    font-size: 15px;
    text-align: center;
    margin: 2px 0px 2px 0px;
}

.redes{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 10px;
    margin: 0px;
    list-style: none;
}


@media(max-width: 1420px){
    .main-index{
        height: 500px;
        background-color: grey;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .cuerpo-pagina{
        width: 300px;
        height: 130px;
        margin: 20px 15px 15px 100px;
    }
    
    .carosuel-img{
        width: 55%;
        padding: 20px;
        right: 60px;
        margin: 10px;
    }
    
    .Titulo-Main{
        font-size: 16px;
    }
    .parrafo-inicio{
        font-size: 12px;
        margin: 5px;
    }
}

@media(max-width: 1200px){
    .cuerpo-pagina{
        width: 270px;
        height: 135px;
        margin: 15px 15px 15px 80px;
    }
    .carosuel-img{
        width: 60%;
        padding: 20px;
        right: 30px;
        margin: 20px;
    }
    .Titulo-Main{
        font-size: 14px;
    }
    .parrafo-inicio{
        font-size: 12px;
        margin: 5px;
    }
    
}

@media(max-width: 1024px){

    .nav-link{
        font-size: 18px;
    }
    .encabezado-titulo{
        font-size: 48px;
    }
    .encabezado-texto{
        font-size: 40px;
    }
    .portada{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .titulo-planes{
        font-size: 48px;
    }
    .main-index{
        height: 500px;
        background-color: grey;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .cuerpo-pagina{
        width: 250px;
        height: 140px;
        margin: 10px 10px 10px 60px;
        padding: 10px;
    }
    
    .carosuel-img{
        width: 55%;
        padding: 20px;
        margin: 40px;
    }
    
    .Titulo-Main{
        font-size: 14px;
    }
    .parrafo-inicio{
        font-size: 12px;
        margin: 5px;
    }
    
}

@media(max-width: 992px){

    .encabezado-titulo{
        font-size: 48px;
    }
    .encabezado-texto{
        font-size: 30px;
    }
    .portada{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }
    .titulo-planes{
        font-size: 48px;
    }
    .main-contacto-titulo{
        font-size: 40px;
        padding: 5px;
    }
    .contenedor-contacto{
        width: 280px;
        height: 350px;
    }
    .contenedor-info{
        font-size: 22px;
    }
    
    .contenedor-info1{
        font-size: 16px;
    }
    .contenedor-img{
        width: 90%;
        height: 160px;
        margin: 10px;
    }

    .main-index{
        height: 430px;
        }

    .cuerpo-pagina{
        width: 200px;
        height: 120px;
        margin: 10px 10px 10px 60px;
        padding: 10px;
    }
    
    .carosuel-img{
        width: 55%;
        padding: 20px;
        margin: 40px;
    }
    
    .Titulo-Main{
        font-size: 12px;
        margin: 0px;
    }

    .parrafo-inicio{
        font-size: 10px;
        margin: 5px;
    }

    .contenedor-portada{
        height: 400px;
    }
    .img-portada{
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    }
    
    
@media(max-width: 768px){
    
    .nav-link{
        font-size: 16px;
    }
    .encabezado-titulo{
        font-size: 40px;
    }
    .encabezado-texto{
        font-size: 20px;
    }
    .portada{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .titulo-planes{
        font-size: 35px;
    }
    .descripcion-planes{
        font-size: 30px;
    }
    .imagen-contacto{
        width: 100%;
        height: 250px;
        object-fit: cover;
    }
    .form{
        width: 450px;
    }
    .main-contacto-titulo{
        font-size: 30px;
        padding: 5px;
    }
    .titulo-contacto{
        font-size: 22px;
    }
    .contenedor-contacto{
        width: 250px;
        height: 300px;
    }
    .contenedor-info{
        font-size: 20px;
    }
    
    .contenedor-info1{
        font-size: 14px;
    }
    .contenedor-img{
        width: 85%;
        height: 120px;
        margin: 0px 0px 20px 15px;
    }

    .main-index{
        height: 700px;
        background-color: grey;
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .cuerpo-pagina{
        width: 200px;
        height: 120px;
        padding: 15px;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .carosuel-img{
        width: 55%;
        justify-content: center;
        align-items: center;
        position: relative;
        margin: auto;
        padding: 10px;
    }
    
    .Titulo-Main{
        font-size: 12px;
        margin: 0px;
    }

    .parrafo-inicio{
        font-size: 9px;
        margin: 5px;
    }

    .contenedor-portada{
        height: 300px;
    }

    .img-portada{
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .Logo-footer{
        width: 42px;
        height: 42px;
    }
    
    .Texto-footer{
        font-size: 12px;
        text-align: center;
    }
    .redes{
        padding: 5px;
    }
    .redes-img{
        width: 30px;
        height: 30px;
    }
    }

@media(max-width: 480px){
    
    .nav-link{
        font-size: 14px;
    }
    .encabezado-titulo{
        font-size: 28px;
    }
    .encabezado-texto{
        font-size: 15px;
    }
    .portada{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .titulo-planes{
        font-size: 26px;
    }
    .descripcion-planes{
        font-size: 26px;
    }
    .imagen-contacto{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .form{
        width: 315px;
    }
    .main-contacto-titulo{
        font-size: 25px;
        padding: 5px;
    }
    .titulo-contacto{
        font-size: 20px;
    }
    .contenedor-contacto{
        width: 200px;
        height: 250px;
    }
    .contenedor-info{
        font-size: 18px;
    }
    
    .contenedor-info1{
        font-size: 12px;
    }
    .contenedor-img{
        width: 80%;
        height: 100px;
        margin: 0px 0px 20px 15px;
        justify-content: center;
        padding: 15px;
    }
    
    .main-index{
        height: 600px;
        background-color: grey;
        display: flex;
        justify-content: center;
    }

    .cuerpo-pagina{
        width: 150px;
        height: 120px;
        margin: auto;
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .carosuel-img{
        width: 60%;
        margin: auto;
        padding: 10px;
        justify-content: center;
    }
    
    .Titulo-Main{
        font-size: 11px;
        margin: 0px;
    }

    .parrafo-inicio{
        font-size: 8px;
        margin: 5px;
    }

    .contenedor-portada{
        height: 200px;
    }

    .img-portada{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .Logo-footer{
        width: 38px;
        height: 38px;
    }
    
    .Texto-footer{
        font-size: 10px;
        text-align: center;
    }
    .redes{
        padding: 5px;
    }
    .redes-img{
        width: 28px;
        height: 28px;
    }

}

@media(max-width: 330px){
    
    .nav-link{
        font-size: 12px;
    }
    .encabezado-titulo{
        font-size: 22px;
    }
    .encabezado-texto{
        font-size: 14px;
    }
    .portada{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
    .tarjetas{
        font-size: 15px;
        flex-direction: column;
    }
    .titulo-planes{
        font-size: 22px;
    }
    .descripcion-planes{
        font-size: 22px;
    }
    .descripcion-planes1{
        font-size: 20px;
    }
    .imagen-contacto{
        width: 100%;
        height: 150px;
        object-fit: cover;
    }
    .form{
        width: 300px;
    }
    .main-contacto-titulo{
        font-size: 20px;
        padding: 5px;
    }
    .titulo-contacto{
        font-size: 18px;
    }

    .contenedor-portada{
        height: 180px;
    }

    .img-portada{
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    .Texto-footer{
        font-size: 8px;
        text-align: center;
    }

    .redes{
        padding: 5px;
    }
    .redes-img{
        width: 25px;
        height: 25px;
    }
}